@font-face {
    font-family: 'Roboto';
    src: url('../roboto_static/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../roboto_static/Roboto-Bold.ttf');
}

:root{
    --linear-pink: rgba(237, 70, 145, 0.623);
    --darker-pink: rgb(235, 50, 133);
    --linear-purple: rgba(85, 34, 204, 0.733);
    --darker-purple: rgb(85, 34, 204);
    --light-royal-blue: #4943F2;
    --orange-peel: #E57930;
    --dark-blue: #242565;
    --light-dark-blue: #464994;
    --darker-blue: #13133b;
    --grayish-white: #dfdfdf83;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --gray-font: #b9b6b6;
}


html body{
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-rows: 130px auto 140px; /* Header, Main, Footer */
    grid-template-columns: 1fr; /* Single column layout */
    height: 100vh;
}

header{
    background-image: linear-gradient(185deg, var(--linear-pink), var(--linear-purple)),
    url(../images/buksu-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header .container-fluid .logo-div img{
    height: clamp(100px, 20vh, 100px);
    max-width: 100%;
}

header .container-fluid .links-div a{
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    color: white;
    text-decoration: none;
}


/* Main */
main{
    background-color: white;
}

main form{
    background-image: linear-gradient(185deg, var(--linear-pink), var(--linear-purple)),
    url(../images/buksu-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: clamp(300px, 55vh, 600px); 
    max-width: 500px;
    gap: 5vh;
    padding: 20px;
    box-shadow: var(--box-shadow);
    color: var(--dark-blue);
    border-radius: 10px;
}

main form .form-wordlines{
    padding: 0 0 0 1vw;
    width: 58%;
}

main form .form-wordlines h2,
main form .form-wordlines p{
    color: white;
}

main form .form-wordlines h2{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: clamp(0.8rem, 2.7vw, 6rem);;
}

main form .form-wordlines img{
    height: clamp(300px, 20vh, 100px); /* Responsive height */
    max-width: 400px;
}

main form .form-wordlines p{
    font-size: clamp(0.8rem, 2vw, 1.2rem); 
}

main form .form-wordlines a{
    font-family: 'Roboto-Bold', sans-serif;
    color: white;
}

main form .input-container{
    margin: 0 auto; /* Centers horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 65%;
    background-color: white;
    border-radius: 10px;
    gap: clamp(1.5rem, 2vw, 2.5rem);
}

main form .input-container h2{
    font-size: clamp(1.5rem, 2vw, 2.5rem); 
    font-family: 'Roboto-Bold', sans-serif;
    color: var(--light-dark-blue);
}

main form .input-container input,
main form .input-container button{
    padding: 10px;
    border-radius: 5px;
}

main form .input-container button{
    background-color: var(--darker-purple);
    border: 0;
    font-size: clamp(0.8rem, 2vw, 1.2rem); /* Responsive font size */
}

main form .input-container button:hover{
    background-color: var(--darker-blue);
}

main form .input-container a{
    color: var(--light-dark-blue);
}

/* Footer */
footer{
    color: white;
    background-color: var(--dark-blue);

}

@media (max-width: 768px) {
    header .container-fluid .logo-nav figure img {
        height: 40px; /* Logo sizes for mobile screens */
    }
}

@media (min-width: 1920px) {
    header .container-fluid .logo-nav figure img {
        height: 90px; /* Logo size for desktops */
    }

    main form{
        max-width: 1100px;
    }
}