/* Regular Rubik */
@font-face {
    font-family: "Roboto";
    src: url(../roboto_static/Roboto-Regular.ttf);
}
/* Bold Roboto */
@font-face {
    font-family: "Roboto-Bold";
    src: url(../roboto_static/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-SemiBold";
    src: url(../roboto_static/Roboto-SemiBold.ttf);
}

:root{
    --linear-pink: rgba(237, 70, 145, 0.623);
    --dark-pink: rgb(235, 50, 133);
    --darker-pink: rgb(200, 40, 110);
    --linear-purple: rgba(85, 34, 204, 0.733);
    --darker-purple: rgb(85, 34, 204);
    --light-royal-blue: #4943F2;
    --orange-peel: #E57930;
    --dark-blue: #242565;
    --darker-blue: #13133b;
    --grayish-white: #dfdfdf83;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --gray-font: #b9b6b6;
    --cyan-blue-azure: #3D85C0;
    --dark-gray: #DBDBDB;
}

header{
    background-image: linear-gradient(to right, var(--linear-pink), var(--linear-purple)),
    url(../images/buksu-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-between;
}

header figure:nth-child(2){
    justify-content: end;
    align-items: center;
}

header figure img{
    height: clamp(50px, 7vw, 95px);
    width: clamp(50px, 7vw, 95px);
}

header figure a i{
    color: white;
    font-size: clamp(20px, 1vw, 55px);
}

main .form-wordline h1{
    font-family: 'Roboto-Bold';
    color: var(--dark-blue);
    font-size: clamp(15px, 5vw, 30px);
}

main .form-wordline p{
    color: var(--darker-blue);
    font-size: clamp(8px, 3vw, 16px);
}

main form{
    background-image: linear-gradient(to right, var(--linear-pink), var(--linear-purple)),
    url(../images/buksu-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

main form .inputs-small .input-button-small,
main form .inputs-large .input-button-large{
    border-radius: 10px;
}

.input-button-small button,
.input-button-large button{
    border: 0;
    background-color: var(--dark-pink);
}

.input-button-small button:hover
.input-button-large button:hover{
    background-color: var(--darker-pink);
}

footer{
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    color: white;
}

footer .copyrights p{
    font-family: 'Roboto';
    font-size: clamp(8px, 2vw, 12px);
}

@media (min-width: 320px) and (max-width: 992px) {
    html body{
        display: grid;
        grid-template-rows: 90px auto 80px;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    header{
        grid-row: 1;
    }

    main{
        grid-row: 2;
        flex-direction: column;
        justify-content: center;
    }

    main form{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }

    form .form-wordline{
        width: clamp(300px, 20vw, 600px);
    }

    .inputs-small{
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: white;
    }

    .input-button-small{
        flex-direction: column;
        gap: 15px;
        width: clamp(300px, 20vw, 600px);
    }    
}

@media (min-width: 993px) and (max-width: 1440px){
    html body{
        display: grid;
        grid-template-rows: 90px auto 80px;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 27px;
        height: clamp(300px, 40vw, 400px);
        width: clamp(300px, 70vw, 650px);
    }

    form .form-wordline{
        display: flex;
        flex-direction: column;
        width: clamp(300px, 20vw, 600px);
    }

    form .form-wordline h1{
        font-family: 'Roboto-Bold';
        font-size: clamp(15px, 5vw, 30px);
    }

    form .form-wordline p{
        font-family: 'Roboto';
        font-size: clamp(8px, 3vw, 16px);
    }

    form .form-wordline h1,
    form .form-wordline p{
        color: white;
    }
        

    form .inputs-large .input-button-large{
        flex-direction: column;
        justify-content: center;
        background-color: white;
        padding: 10px;
        gap: 15px;
        height: clamp(200px, 30vw, 300px);
        width: clamp(100px, 25vw, 400px);
    }

    form .inputs-large{
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        height: clamp(300px, 20vw, 500px);
        width: 100%;
    }

    footer .copyrights p{
        font-size: clamp(8px, 3vw, 15px);
    }
}

@media (min-width: 1441px) and (max-width: 2960px){
    html body{
        display: grid;
        grid-template-rows: 90px auto 80px;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    header figure img{
        height: clamp(40px, 2vw, 90px);
        width: clamp(40px, 2vw, 90px);
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        gap: clamp(20px, 5vw, 20px);
        height: clamp(200px, 30vw, 410px);
        width: clamp(700px, 100vw, 870px);
    }

    form .form-wordline{
        display: flex;
        flex-direction: column;
        width: clamp(300px, 20vw, 600px);
    }

    form .form-wordline h1{
        font-family: 'Roboto-Bold';
        font-size: clamp(15px, 5vw, 30px);
    }

    form .form-wordline p{
        font-family: 'Roboto';
        font-size: clamp(8px, 3vw, 16px);
    }

    form .form-wordline h1,
    form .form-wordline p{
        color: white;
    }        

    form .inputs-large .input-button-large{
        border: 1px solid black;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        padding: 25px;
        gap: 15px;
        height: clamp(200px, 30vw, 300px);
        width: clamp(100px, 25vw, 400px);
    }

    form .inputs-large{
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        /* height: clamp(300px, 20vw, 500px);
        width: 100%; */
    }

    footer .copyrights p{
        font-size: clamp(8px, 3vw, 15px);
    }
}