/* regular roboto font */
@font-face {
    font-family: 'Roboto';
    src: url(../roboto_static/Roboto-Regular.ttf);
}

/* bol roboto font */
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../roboto_static/Roboto-Bold.ttf);
}

:root{
    --linear-pink: rgba(237, 70, 145, 0.623);
    --dark-pink: rgb(235, 50, 133);
    --darker-pink: rgb(200, 40, 110);
    --linear-purple: rgba(85, 34, 204, 0.733);
    --darker-purple: rgb(85, 34, 204);
    --light-royal-blue: #4943F2;
    --orange-peel: #E57930;
    --dark-blue: #242565;
    --darker-blue: #13133b;
    --grayish-white: #dfdfdf83;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --gray-font: #b9b6b6;
    --cyan-blue-azure: #3D85C0;
}

html body{
    font-family: 'Roboto';
}

header{
    /* Background */
    background-image: linear-gradient(to right, var(--linear-pink), var(--linear-purple)),
    url(../images/buksu-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header figure{
    /* border: 1px solid yellow; */
    align-items: center;
    height: 100%;
}

header figure .img-fluid{
    height: clamp(45px, 7vw, 90px);
    width: clamp(45px, 7vw, 90px);
}

header aside{
    justify-content: end;
}

header aside a i{
    color: white;
}

@media (min-width: 320px) and (max-width: 992px) {
    html body {
        display: grid;
        grid-template-rows: 100px auto 80px;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    /* Sidebar styles */
    header .fas.fa-bars{
        font-size: clamp(10px, 6vw, 25px);
        color: white;
    }

    .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        background-color: #343a40;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 20px;
    }

    .sidebar a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 18px;
        color: #f8f9fa;
        display: block;
        transition: 0.3s;
    }

    .sidebar a:hover {
        background-color: #495057;
    }

    .sidebar .close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 20px;
    }

    .open-sidebar-btn {
        font-size: 20px;
        cursor: pointer;
        background-color: #343a40;
        color: #f8f9fa;
        border: none;
        padding: 10px 15px;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000;
    }

    .open-sidebar-btn:hover {
        background-color: #495057;
    }
}