/* regular roboto font */
@font-face {
    font-family: 'Roboto';
    src: url(../roboto_static/Roboto-Regular.ttf);
}

/* bol roboto font */
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../roboto_static/Roboto-Bold.ttf);
}

:root{
    --linear-pink: rgba(237, 70, 145, 0.623);
    --dark-pink: rgb(235, 50, 133);
    --darker-pink: rgb(200, 40, 110);
    --linear-purple: rgba(85, 34, 204, 0.733);
    --darker-purple: rgb(85, 34, 204);
    --light-royal-blue: #4943F2;
    --orange-peel: #E57930;
    --dark-blue: #242565;
    --darker-blue: #13133b;
    --grayish-white: #dfdfdf83;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --gray-font: #b9b6b6;
    --cyan-blue-azure: #3D85C0;
}

header{
    /* Background */
    background-image: linear-gradient(to right, var(--linear-pink), var(--linear-purple)),
    url(../images/buksu-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Display */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* header section */
/* Logo */
header figure{
    align-items: center;
    height: 100%;
}

header figure img{
    height: clamp(50px, 4vw, 90px);
} 

/* menu icon */
header nav figure a i{
    color: white;
    font-size: clamp(25px, 4vw, 50px);
    cursor: pointer;
}

header ul li a{
    color: white;
    font-size: clamp(3px, 1.7vw, 15px);
    text-decoration: none;
}

/* main content */
main{
    justify-content: center;
    align-items: center;
    padding: 20px;
}

main form{
    background-color: transparent;
    align-items: space-around;
    border-radius: 20px;
}

/* for mobile */
main form .container-fluid .booking-small{
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
}

main form .booking-small h1{
    font-family: 'Roboto-Bold';
    font-size: clamp(30px, 4vw, 50px);
}

main form .inputs .booking-small a{
    color: var(--cyan-blue-azure);
    font-size: clamp(12.3px, 1vw, 15px);
}

main form .booking-small h1,
main form .booking-small p{
    color: var(--dark-blue);
}

main form .booking-small p{
    font-family: 'Roboto';
    justify-content: center;
    align-items: center;
    font-size: clamp(12px, 1vw, 15px);
}

main form a{
    text-decoration: none;
}

main form .warning-message{
    color: var(--dark-blue);
    font-size: clamp(12px, 3vw, 16px);
}

main form .inputs input{
    padding: clamp(3px, 2vw, 5px);
    font-size: clamp(14.5px, 3vw, 17px);
}

main form .inputs a{
    color: var(--cyan-blue-azure);
    font-weight: 500;
}

main .booking-small a{
    font-family: 'Roboto-Bold';
    font-size: clamp(12.5px, 2.8vw, 15px);
}

main form .inputs a{
    font-size: clamp(12.5px, 2.8vw, 15px);
}

main form .inputs .roles label{
    color: var(--cyan-blue-azure);
}

main form .inputs button{
    border: 0;
    background-color: var(--dark-pink);
    font-size: clamp(14.5px, 3vw, 17px);;
}

main form .inputs button:hover{
    background-color: var(--darker-pink);
}

/* laptop and desktop */
main form .booking-large{
    color: white;
    flex-direction: column;
    justify-content: space-around;
    height: clamp(350px, 80vw, 50%);
}

main form .booking-large h1{
    font-family: 'Roboto-Bold';
    font-size: clamp(30px, 4vw, 40px);
}

main form .booking-large p{
    font-family: 'Roboto';
}

main form .booking-large a{
    font-family: 'Roboto-Bold';
    color: white;
    font-size: clamp(10px, 5vw, 16px);
}

main form .inputs{
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    height: clamp(500px, 10vw, 60%);
    gap: 10px;
}

main form .inputs a{
    font-size: clamp(10px, 4vw, 14px);
}

main form .inputs input,
main form .input-group select,
main form .input-group textarea{
    padding: 4px;
    font-size: clamp(10px, 3vw, 16px);
    width: 90%;
}

/* footer section */
footer{
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    color: white;
    font-size: clamp(13px, 3vw, 15px);
}

@media screen and (min-width: 320px) and (max-width: 992px) {
    html body{
        display: grid;
        grid-template-rows: 70px 1fr 65px;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    main form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: clamp(380px, 50vw, 470px);
    }

    main{
        grid-row: 2/3;
    }

    main form .inputs{
        background-color: transparent;
        width: 90%;
    }

    main form .inputs textarea{
        resize: none; /* Prevent resizing */
        height: 100px; /* Set a fixed height */
        width: 100%; /* Set a fixed width */
        padding: 10px; /* Add padding for better readability */
        font-size: clamp(12px, 2vw, 16px); /* Ensure responsive font size */
        border-radius: 5px; /* Optional: Add rounded corners */
    }
    
    footer{
        grid-row: 3;
        grid-column: 1;
    }
}

@media screen and (min-width: 993px) and (max-width: 1440px){
    html body{
        display: grid;
        grid-template-rows: 90px auto 70px;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    main form{ 
        /* background */
        background-image: linear-gradient(175deg, var(--linear-pink), var(--linear-purple)), 
        url(../images/buksu-image.jpg);
        background-position: center;
        background-size: cover;
        /* display */
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        gap: 30px;
        height: clamp(400px, 100vw, 550px);
        width: clamp(320px, 100vw, 700px);
    }

    main form .inputs{
        padding: 30px;
        height: 100%;
        width: 95%;
    }

    main form .inputs input{
        padding: 15px;
        height: 30px;
        width: 95%;
    }

    main form .inputs textarea{
        resize: none; /* Prevent resizing */
        height: 100px; /* Set a fixed height */
        width: 100%; /* Set a fixed width */
        padding: 10px; /* Add padding for better readability */
        font-size: clamp(12px, 2vw, 16px); /* Ensure responsive font size */
        border: 1px solid var(--gray-font); /* Optional: Add a border */
        border-radius: 5px; /* Optional: Add rounded corners */
    }
}

@media screen and (min-width: 1441px) and (max-width: 2560px){
    html body{
        display: grid;
        grid-template-rows: 30px auto 70px;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    main form{
        /* background */
        background-image: linear-gradient(175deg, var(--linear-pink), var(--linear-purple)), 
        url(../images/buksu-image.jpg);
        background-position: center;
        background-size: cover;
        /* display */
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        gap: 30px;
        height: clamp(600px, 20vw, 300px);
        width: clamp(900px, 90vw, 850px);
    }

    main form .inputs{
        height: 100%;
        padding: 30px;
        width: 95%;
    }
    
    main form .inputs textarea{
        resize: none; /* Prevent resizing */
        height: 100px; /* Set a fixed height */
        width: 100%; /* Set a fixed width */
        padding: 10px; /* Add padding for better readability */
        font-size: clamp(12px, 2vw, 16px); /* Ensure responsive font size */
        border-radius: 5px; /* Optional: Add rounded corners */
    }

    main form .inputs a{
        font-size: clamp(9px, 1vw, 17px);
    }
    
    main form .inputs input{
        padding: 6.5px;
        font-size: clamp(15px, 2vw, 17px);
        width: 90%;
    }

    main form .booking-large h1{
        font-size: clamp(18px, 4vw, 55px);
    }

    main form .inputs button{
        padding: 6.5px;
        margin: 20px 0 0 0;
        font-size: clamp(15px, 2vw, 17px);
    }

    main form .booking-large p{
        font-family: 'Roboto';
        font-size: clamp(8px, 5vw, 17px);
    }

    main form .booking-large a{
        font-size: clamp(8px, 5vw, 17px);
    }
}
